.mg-lef {
  margin-bottom: 20px;
}
.box-option {
    list-style-type: none;
}

.option-row {
    list-style-type: none;
}

input.small-input {
    width: 100px;
}
.box-option .content-option {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
}
.box-option .content-option > .box-title,
.box-option .content-option > .box-content,
.box-option .content-option > .actions {
  padding: 20px;
}
.box-option .content-option > .box-content {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.box-option .content-option > .box-content .box-title .field-wrapper-title {
  padding: 10px;
}
.box-option .content-option > .box-content .box-title .field-wrapper-title .field strong {
  cursor: pointer;
}
.box-option .content-option > .box-content .box-title .field-wrapper-title .field strong:before {
  content: "î˜–";
  font-family: "Admin Icons";
  margin-right: 7px;
  text-align: center;
  display: inline-block;
}
.box-option .content-option .box-title {
  padding: 0;
}
.box-option .content-option .box-title > .fieldset {
  padding: 20px ;
}
.box-option .content-option .box-title > .fieldset .field {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.box-option .content-option .box-title .field-wrapper-title {
  padding: 15px 20px ;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #ccc;
  background-color: #f8f8f8;
}
.box-option .content-option .box-title .field-wrapper-title:before,
.box-option .content-option .box-title .field-wrapper-title:after {
  content: "";
  display: table;
}
.box-option .content-option .box-title .field-wrapper-title:after {
  clear: both;
}
.box-option .content-option .box-title .field-wrapper-title > .actions {
  float: right;
}
.box-option .content-option .box-title .field-wrapper-title strong {
  float: left;
  line-height: 33px;
  text-transform: uppercase;
}
.box-row {
  margin-bottom: 20px;
}
.box-row .content-row {
  background-color: #F0F0F0;
  margin-bottom: 20px;
}
.box-row .content-row > .actions {
  padding: 10px;
}
.box-tier {
  border-radius: 3px;
  margin-bottom: 20px;
}
.box-tier td {
  padding: 8px;
}
.box-tier .colum-tier {
  margin-bottom: 45px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.box-tier .colum-tier tbody td {
  vertical-align: top;
  padding: 15px 0 45px;
}
.box-tier .table-tier {
  padding: 20px;
  border: 1px dashed #ccc;
  background-color: #ededed;
}
.box-tier .table-tier > h3{
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}
.box-tier .table-tier table {
  width: 100%;
}

/*.box-title .field-wrapper-title .field:before {*/
  /*content: '\e616';*/
  /*font-size: 1.8rem;*/
  /*position: absolute;*/
  /*right: 1.3rem;*/
  /*top: 2.3rem;*/
/*}*/

.required {
  color: #eb5202;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  margin-left: 10px;
  margin-top: 1rem;
  position: absolute;
  z-index: 1;
}
.colum-tier label > .required{
  margin-top: 0.4rem;
}

/* Edit by Lily */

/* advancedoptions */
#advancedoptions{
  margin-bottom: 40px;
}
.advancedproductoption-template-edit input[type="button"] {
  background-color: #fff !important;
  color: #514943 !important;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  font-size: 1.6rem;
  letter-spacing: .025em;
  border: none;
  font-weight: 600;
  line-height: 1.36;
  padding: 0.6rem 1em 0.6rem;
  float: left;
  margin-top: 2rem;
  margin-left: 145rem;
  position: relative;
}
.advancedproductoption-template-edit #product_option_form .page-main-actions{
  margin-bottom: 6rem;
}
.advancedproductoption-template-edit input[type="submit"]{
  background-color: #eb5202;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  font-size: 1.6rem;
  letter-spacing: .025em;
  border: 1px solid #eb5202;
  font-weight: 600;
  line-height: 1.36;
  padding: .6875em 1em;
  float: right;
  margin-right: 4rem;
}
.advancedproductoption-template-edit input[type="submit"]:hover{
  background-color: #ba4000 !important;
  border-color: #b84002;
  -webkit-box-shadow: 0 0 0 1px #007bdb;
  box-shadow: 0 0 0 1px #007bdb;
  color: #fff;
  text-decoration: none;
}
.advancedproductoption-template-edit .field{
  margin-bottom: 3rem;
  position: relative;
}
.advancedproductoption-template-edit .field > label {
  color: #303030;
  font-weight: 600;
  text-align: right;
  font-size: 1.4rem;
  line-height: 3.2rem;
  padding: 0;
  width: calc( (100%) * 0.25 - 30px );
  float: left;
  cursor: pointer;
  margin: 0;
  margin-left: 30px;
}
.advancedproductoption-template-edit .field > .error{
  float: none;
}
.advancedproductoption-template-edit .field > input:not([type="checkbox"]){
  width: calc( (100%) * 0.5 - 30px );
  margin-left: 30px;
  -webkit-appearance: none;
  background-color: #ffffff;
  border: 1px solid #adadad;
  border-radius: 1px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #303030;
  font-size: 1.4rem;
  font-weight: 400;
  height: auto;
  line-height: 1.36;
  padding: 0.6rem 1rem 0.6rem;
  -webkit-transition: border-color 0.1s linear;
  transition: border-color 0.1s linear;
}
.advancedproductoption-template-edit .field > select{
  margin-left: 30px;
  background-image: url(../../images/arrows-bg.svg), -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#e3e3e3)), -webkit-gradient(linear, left top, left bottom, from(#adadad), to(#adadad));
  background-image: url(../../images/arrows-bg.svg), linear-gradient(#e3e3e3, #e3e3e3), linear-gradient(#adadad, #adadad);
  background-position: calc(100% - 12px) -34px, 100%, calc(100% - 3.2rem) 0;
  background-size: auto, 3.2rem 100%, 1px 100%;
  background-repeat: no-repeat;
  padding: .6rem 1rem;
  padding-bottom: 0.5rem;
  padding-right: 4.4rem;
  padding-top: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
.advancedproductoption-template-edit .left-container.mg-lef button{
  background-color: #514943;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  letter-spacing: .025em;
  border: 1px solid #514943;
  font-weight: 600;
  line-height: 1.36;
  padding: 0.6875em 1em;
}
.advancedproductoption-template-edit .left-container.mg-lef button:hover{
  background-color: #35302c;
  border-color: #35302c;
  -webkit-box-shadow: 0 0 0 1px #007bdb;
          box-shadow: 0 0 0 1px #007bdb;
  color: #ffffff;
  text-decoration: none;
}

.advancedproductoption-template-edit .option-template-main-container.mg-right .field-wrapper-title .field{
  float: left;
  margin-bottom: 0;
}
.advancedproductoption-template-edit .option-template-main-container.mg-right .actions > button{
  background-color: #514943;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin-left: 1rem;
  border: 1px solid #514943;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.36;
  padding: 0.6rem 1em;
}
.advancedproductoption-template-edit .option-template-main-container.mg-right .field-wrapper-title .actions > button:hover{
  background-color: #35302c;
  border-color: #35302c;
  -webkit-box-shadow: 0 0 0 1px #007bdb;
          box-shadow: 0 0 0 1px #007bdb;
  color: #ffffff;
  text-decoration: none;
}
.advancedproductoption-template-edit ul.box-option .fieldset-wrapper-title{
  cursor: pointer;
}
.advancedproductoption-template-edit ul.box-option strong.option-type{
  font-size: 1.6rem;
}
.advancedproductoption-template-edit ul.box-row.option-row{
  width: 100%;
  padding: 10px 10px 0 55px;
}
.advancedproductoption-template-edit ul.box-row.option-row .content-row{
  width: 100%;
  margin: 20px 0;
  -webkit-box-shadow: 1px 1px 3px 2px #ddd;
          box-shadow: 1px 1px 3px 2px #ddd;
  background-color: #fff;
}
.advancedproductoption-template-edit ul.box-row.option-row .content-row > div{
  margin: 0;
}
.advancedproductoption-template-edit ul.box-row.option-row .box-title .field-wrapper-title{
  padding: 10px 20px;
  font-size: 1.4rem;
}
.advancedproductoption-template-edit ul.box-option .box-title.header.fieldset-wrapper-title .field{
  margin-bottom: 0;
}
.advancedproductoption-template-edit .admin__collapsible-content{
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  max-height: 0;
  overflow: hidden;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}
.advancedproductoption-template-edit .admin__collapsible-content._show{
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  max-height: 100%;
}
.advancedproductoption-template-edit ul.box-row.option-row .admin__collapsible-content._show{
  padding: 30px 40px;
}
.advancedproductoption-template-edit .admin__collapsible-content .fieldset {
  margin-top: 55px;
}
.advancedproductoption-template-edit .box-row.option-row .actions{
  text-align: right;
}
.advancedproductoption-template-edit ul.box-option .admin__collapsible-content > .actions{
  padding: 0 10px 55px 45px;
}
.advancedproductoption-template-edit .content-tier label{
  color: #303030;
  font-weight: 600;
}
.advancedproductoption-template-edit .content-tier input:not([type="file"]),
.advancedproductoption-template-edit .content-tier select{
  background-color: #ffffff;
  border: 1px solid #adadad;
  border-radius: 1px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #303030;
  font-size: 1.4rem;
  font-weight: 400;
  height: auto;
  line-height: 1.36;
  padding: 0.6rem 1rem 0.6rem;
  -webkit-transition: border-color 0.1s linear;
  transition: border-color 0.1s linear;
  max-width: calc(100% - 15px);
  width: 175px !important;
}
.advancedproductoption-template-edit .content-tier table.colum-tier td{
  width: 20%;
}
.advancedproductoption-template-edit .content-tier table.colum-tier:nth-child(2) td > input[type="file"],
.advancedproductoption-template-edit .content-tier table.colum-tier:nth-child(2) td select{
  width: 100%;
  margin-bottom: 18px;
}
.advancedproductoption-template-edit .content-tier .action-default{
  cursor: pointer;
}
.advancedproductoption-template-edit .box-option input[type='checkbox'].checkbox_require + label{
  margin-right: 20px;
}
.advancedproductoption-template-edit .box-option input[type='checkbox'].checkbox_require + label{
  float: right;
}
.advancedproductoption-template-edit .box-option input[type='checkbox'].checkbox_require + label + span{
  margin-left: 10px;
}
.table-tier table tbody td div{
  position: relative;
}
.table-tier table tbody td div input[required]{
  margin-left: 15px;
}
.table-tier table tbody td div input[required]+.required{
  left: 0;
  margin-left: 0;
}
/* END advancedoptions */

/* manage-products */
#manage-products-wrapper > .collapse{
  padding: 0;
  overflow: hidden;
  transition: all 0.1s;
  transform: scaleY(0);
  max-height: 0;
  height: auto !important;
}
#manage-products-wrapper > .collapse.in{
  transform: scaleY(1);
  max-height: 100%;
}
#manage-products-wrapper fieldset.fieldset{
  margin-bottom: 1.9rem;
  padding: 35px 15px;
}
#manage-products-wrapper .admin__data-grid-header{
  visibility: initial !important;
}
#manage-products-wrapper .sticky-header{
  display: none !important;
}
/* END manage-products */

/*  */
.fieldset-wrapper .box-title.header.fieldset-wrapper-title .field-wrapper-title > .field,
.fieldset-wrapper.admin__collapsible-block-wrapper .field-wrapper-title > .field{
  position: relative;
}
.fieldset-wrapper .box-title.header.fieldset-wrapper-title .field-wrapper-title > .field:before,
.fieldset-wrapper.admin__collapsible-block-wrapper .field-wrapper-title > .field:before{
  content: '\e628';
  font-family: 'Admin Icons';
  position: absolute;
  right: -30px;
  top: 6px;
  font-size: 1.8rem;
}
.fieldset-wrapper._show .box-title.header.fieldset-wrapper-title .field-wrapper-title > .field:before,
.fieldset-wrapper.admin__collapsible-block-wrapper._show .field-wrapper-title > .field:before{
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
td img {
  width:100px;
  height:100px;
  margin:5px;
  border:solid 2px lightblue;
}
.error {
  color:red;
}

input .error {
  border: 1px solid red;
}
.product-listing-main .admin__control-thumbnail{
  height: auto;
}
/*  */
#option_title_table{
  width: 96%;
  margin: 55px;
}
/* END Edit by Lily */
